html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    line-height: 1 !important;
    font-family: none !important;
}

a {
    text-decoration: none !important;
    color: black;
}

.login-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
}

main {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.g-icon {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

/* Glass */
.glass {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 1);
}

/* Glass */

/* header */
.header {
    height: 12%;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
}

.details {
    width: 40%;
    gap: 25px;
    padding-right: 6%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 60%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.companylogo {
    height: 25%;
}

.navbartransition::after {
    content: '';
    width: 0px;
    height: 3px;
    transition: 300ms;
    border-radius: 5px;
    display: block;
    background: #106eea;
}

.navbartransition:hover::after {
    width: 100%;
}

.navbartransition:hover {
    color: #106eea;
}

/* header  */

/* Spinner */

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

/* Spinner */

/* Footer */

.footer {
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    margin-top: 35px;
    display: flex;
}

.contact-icons {
    width: 50%;
    gap: 15px;
    font-size: 25px;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-icon {
    width: 40px;
    height: 40px;
    border-radius: 49px;
    background-image: linear-gradient(144deg, #AF40FF, #42a5f3 50%, #00DDEB);
    color: white;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.copyright {
    width: 50%;
    padding-left: 5%;
    font-size: 15px;
    margin: auto 0px;
}

/* Footer */

/* Body */

.button-63 {
    border: 0;
    width: 100px;
    font-size: 16px;
    height: 35px;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #AF40FF, #42a5f3 50%, #00DDEB);
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.button-63:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 35px 30px -5px;
}

.button-63:active {
    transform: translateY(4px);
    box-shadow: rgba(0, 0, 0, 0.2) 0 25px 30px -5px;
}

.section-divider {
    height: 77%;
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1,
.section2,
.section3,
.section4 {
    width: 23%;
    height: 95%;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    border-radius: 10px;
}

.upper-section {
    width: 100%;
    height: 60%;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.question-type,
.correct-answer,
.incorrect-answer,
.missed-answer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-dataentry {
    gap: 35px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.section-title {
    font-weight: 400;
    padding-top: 5px;
    font-size: 25px;
    text-align: center;
}

.questions {
    width: 100%;
}


.button {
    margin-bottom: 10px;
}

.front-div {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
}

.shadowdiv {
    height: 100%;
    width: 100%;
    position: absolute;
}

.show-data {
    width: 40%;
    z-index: 9;
    border-radius: 5px;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    background-color: white;
    height: fit-content;
}


.data-title {
    font-size: 27px;
    text-align: center;
    margin: 1%;
}

.data-table {
    border-top: 1px solid;
}

table,
td,
th {
    border: 1px solid;
}

.table-data {
    width: 98%;
    height: 65%;
    text-align: center;
    margin: 30px auto;
}

.save-div {
    height: 100%;
    width: 100%;
    display: none;
}

.save-data {
    gap: 15px;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.savebutton {
    height: 50px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    margin: 0;
}

.save-box {
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

/* Body */


@media screen and (max-width: 640px) {

    /* header  */

    main {
        height: fit-content;
    }

    .header {
        height: fit-content;
    }

    .companylogo {
        height: 20%;
        font-size: 22px;
    }

    .descrip {
        font-size: 12px;
    }

    .details {
        gap: 15px;
    }

    /* header  */

    .section-divider {
        padding-top: 25px;
        flex-direction: column;
    }

    .section1,
    .section2,
    .section3,
    .section4 {
        width: 90%;
    }

    .front-div {
        position: fixed;
    }

    .show-data {
        width: fit-content
    }

    .show-data1 {
        width: 85%;
    }

    .save-box {
        padding: 50px 15px;
    }

    .contact {
        width: 100%;
        height: 100px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .contact-icons {
        gap: 5px;
        font-size: 20px;
    }

    .contact-icon {
        width: 35px;
        height: 35px;
    }

    .copyright {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {

    .save-box {
        padding: 55px;
    }

    .section-divider {
        height: 80%;
        padding-top: 5%;
        overflow-y: scroll;
        flex-direction: column;
        justify-content: normal;
    }

    .section1,
    .section2,
    .section3,
    .section4 {
        width: 80%;
    }
}

@media screen and (min-width: 1024px) {

    main {
        overflow: hidden;
    }

    .save-box {
        padding: 55px;
    }

    .section-divider {
        height: 77%;
        padding: 0px 10px;
        overflow: auto;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (min-width: 1280px) {

    .save-box {
        padding: 85px;
    }
}