html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: black;
}

.login-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
}

.g-icon {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

main {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    overflow-x: hidden;
}

/* Spinner */

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

/* Spinner */

/* Delete */

.delete-popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
}

/* Delete */


.glass {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 1);
}

/* header */
.header {
    height: 12%;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
}

.details {
    width: 40%;
    gap: 25px;
    padding-right: 6%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 60%;
    height: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.companylogo {
    height: 25%;
}

.navbartransition::after {
    content: '';
    width: 0px;
    height: 3px;
    transition: 300ms;
    border-radius: 5px;
    display: block;
    background: #106eea;
}

.navbartransition:hover::after {
    width: 100%;
}

.navbartransition:hover {
    color: #106eea;
}

/* header  */

.no_data {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: orangered;
}

.body_section {
    height: 94%;
    margin: 2%;
    padding-top: 3%;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.dataheader {
    margin-bottom: 0.4%;
    padding: 0 2.5%;
    position: static;
}

.tableheader {
    height: 10%;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    background-color: #106eea;
}

/* footer */
.footer {
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    margin-top: 35px;
    display: flex;
}

.copyright {
    width: 50%;
    padding-left: 5%;
    font-size: 15px;
    margin: auto 0px;
}

.contact-icons {
    width: 50%;
    gap: 15px;
    font-size: 25px;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-icon {
    width: 40px;
    height: 40px;
    border-radius: 49px;
    background-image: linear-gradient(144deg, #AF40FF, #42a5f3 50%, #00DDEB);
    color: white;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* footer */

.circle1,
.circle2 {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.7));
    position: absolute;
}

.circle1 {
    top: 12%;
    right: 18%;
}

.circle2 {
    bottom: 8%;
    left: 18%;
}

@media screen and (max-width: 640px) {

    .circle1,
    .circle2 {
        height: 10rem;
        width: 10rem;
    }

    body {
        width: 100%;
        margin: 0;
        line-height: 1 !important;
        font-family: none !important;
    }

    /* header  */

    .companylogo {
        height: 20%;
        font-size: 22px;
    }

    .descrip {
        font-size: 12px;
    }

    .details {
        gap: 15px;
    }

    /* header  */

    .list {
        height: 88%;
        overflow-y: scroll;
    }

    .list::-webkit-scrollbar {
        width: 0;
    }

    .tableheader {
        font-size: 14px;
        justify-content: space-around;
    }

    .data {
        width: 100%;
        height: 10%;
        margin-bottom: 1%;
        border-radius: 10px;
        box-shadow: -5px 3px 4px rgb(0 0 0 / 20%);
        border: 1px solid;
        background: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
    }

    .column {
        text-align: center;
    }

    .index {
        width: 10%;
    }

    .examname {
        width: 20%;
        text-align: left;
    }

    .date {
        width: 25%;
    }

    .total {
        width: 8%;
    }

    .section {
        display: none;
    }

    .delete {
        width: 8%;
    }

    .table {
        padding: 0 2.5%;
    }

    .contact {
        width: 100%;
        height: 100px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .contact-icons {
        gap: 5px;
        font-size: 20px;
    }

    .contact-icon {
        width: 35px;
        height: 35px;
    }

    .copyright {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {

    body {
        width: 100%;
        margin: 0;
        line-height: 1 !important;
        font-family: none !important;
    }

    .list {
        height: 88%;
        overflow-y: scroll;
    }

    .list::-webkit-scrollbar {
        width: 0;
    }

    .tableheader {
        font-size: 14px;
    }

    .data {
        width: 100%;
        height: 10%;
        margin-bottom: 1%;
        border-radius: 10px;
        box-shadow: -5px 3px 4px rgb(0 0 0 / 20%);
        border: 1px solid;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .column {
        text-align: center;
    }

    .index {
        width: 10%;
    }

    .examname {
        width: 15%;
    }

    .date {
        width: 15%;
    }

    .total {
        width: 10%;
    }

    .section {
        width: 10%;
    }

    .delete {
        width: 10%;
    }

    .table {
        padding: 0 2.5%;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 45px;
        background-color: white;
    }
}

@media screen and (min-width: 1024px) {

    body {
        width: 100%;
        margin: 0;
        line-height: 1 !important;
        font-family: none !important;
    }

    .body_section {
        padding: 3% 1% 0%;
    }

    .list {
        height: 88%;
        overflow-y: scroll;
    }

    .list::-webkit-scrollbar {
        width: 0;
    }

    .data {
        width: 100%;
        height: 10%;
        margin-bottom: 1%;
        border-radius: 10px;
        box-shadow: -5px 3px 4px rgb(0 0 0 / 20%);
        border: 1px solid;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .column {
        text-align: center;
    }

    .index {
        width: 10%;
    }

    .examname {
        width: 15%;
    }

    .date {
        width: 15%;
    }

    .total {
        width: 10%;
    }

    .section {
        width: 10%;
    }

    .delete {
        width: 10%;
    }

    .table {
        padding: 0 2.5%;
    }

    .contact {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 45px;
        background-color: white;
    }
}

@media screen and (min-width: 1280px) {

    body {
        width: 100%;
        margin: 0;
        line-height: 1 !important;
        font-family: none !important;
    }

    .body_section {
        padding: 3% 6% 0%;
    }

    .list {
        height: 88%;
        overflow-y: scroll;
    }

    .list::-webkit-scrollbar {
        width: 0;
    }

    .data {
        width: 100%;
        height: 10%;
        margin-bottom: 1%;
        border-radius: 10px;
        box-shadow: -5px 3px 4px rgb(0 0 0 / 20%);
        border: 1px solid;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .column {
        text-align: center;
    }

    .index {
        width: 10%;
    }

    .examname {
        width: 15%;
    }

    .date {
        width: 15%;
    }

    .total {
        width: 10%;
    }

    .section {
        width: 10%;
    }

    .delete {
        width: 10%;
    }

    .table {
        padding: 0 2.5%;
    }

    .contact {
        width: 100%;
        height: 45px;
        background: white;
        display: flex;
        justify-content: space-between;
    }
}