html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: black;
}

.login-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
}

.g-icon {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

main {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    overflow-x: hidden;
    overflow-y: hidden;
}


body {
    width: 100%;
    margin: 0;
    line-height: 1 !important;
    font-family: none !important;
}

/* Spinner */

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

/* Spinner */

/* Glass */
.glass {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 1);
}

/* Glass */

/* header */
.header {
    height: 12%;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
}

.details {
    width: 40%;
    gap: 25px;
    padding-right: 6%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 60%;
    height: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.companylogo {
    height: 25%;
}

.navbartransition::after {
    content: '';
    width: 0px;
    height: 3px;
    transition: 300ms;
    border-radius: 5px;
    display: block;
    background: #106eea;
}

.navbartransition:hover::after {
    width: 100%;
}

.navbartransition:hover {
    color: #106eea;
}

/* header  */

/* Body section */
.body_section {

    height: 100%;
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

a.slide-up {
    animation: 1.5s slide-up;
    margin-top: 0%;
}

@keyframes slide-up {
    from {
        margin-top: 20%;
        height: 80%;
        opacity: 0;
    }

    to {
        margin-top: 0%;
        height: 80%;
        opacity: 1;
    }
}

/* Body section */

/* Graph */
.no_graph {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: orangered;
}

.graph_section1,
.graph_section2,
.graph_section3 {
    gap: 10px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.graph {
    display: none;
}

.donut1 {
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    width: fit-content;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.chart1 {
    width: 30px !important;
    height: 20px !important;
}

/* Graph */


/* Footer */

.footer {
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    display: flex;
}

.contact-icons {
    width: 50%;
    gap: 15px;
    font-size: 25px;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-icon {
    width: 40px;
    height: 40px;
    border-radius: 49px;
    background-image: linear-gradient(144deg, #AF40FF, #42a5f3 50%, #00DDEB);
    color: white;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.copyright {
    width: 50%;
    padding-left: 5%;
    font-size: 15px;
    margin: auto 0px;
}

/* Footer */

@media screen and (max-width: 640px) {

    a.slide-up {
        margin-top: 10%;
    }

    @keyframes slide-up {
        from {
            margin-top: 30%;
        }

        to {
            margin-top: 10%;
        }
    }

    .graph_section1,
    .graph_section2,
    .graph_section3 {
        flex-direction: column;
    }

    .body_section {
        overflow-x: scroll;
    }

    /* header  */

    .companylogo {
        height: 20%;
        font-size: 22px;
    }

    .descrip {
        font-size: 12px;
    }

    .details {
        gap: 15px;
    }

    /* header  */

    /* Footer */
    .copyright {
        font-size: 12px;
    }

    .contact-icons {
        gap: 5px;
        font-size: 20px;
    }

    .contact-icon {
        width: 35px;
        height: 35px;
    }

    /* Footer */
}

@media screen and (min-width: 768px) {

    .graph_section1,
    .graph_section2,
    .graph_section3 {
        flex-direction: column;
    }
}