html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: black;
}

.login-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
}

.g-icon {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

main {
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    overflow-x: hidden;
    overflow-y: hidden;
}


body {
    width: 100%;
    margin: 0;
    line-height: 1 !important;
    font-family: none !important;
}

/* Spinner */

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

/* Spinner */

/* Glass */
.glass {
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 1);
}

/* Glass */

/* header */
.header {
    height: 12%;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
}

.details {
    width: 40%;
    gap: 25px;
    padding-right: 6%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 60%;
    height: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.companylogo {
    height: 25%;
}

.navbartransition::after {
    content: '';
    width: 0px;
    height: 3px;
    transition: 300ms;
    border-radius: 5px;
    display: block;
    background: #106eea;
}

.navbartransition:hover::after {
    width: 100%;
}

.navbartransition:hover {
    color: #106eea;
}

/* header  */

/* Body section */
.body_section {
    height: 100%;
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
}

/* Body section */

/* Graph */
.no_graph {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: orangered;
}

/* Graph */


/* Graph New Design */
.charts {
    height: 700pc;
    width: 100%;
    gap: 15px;
    display: none;
    flex-direction: column;
}

.chart-section-1 {
    width: 100%;
    height: 50pc;
    gap: 15px;
    display: flex;
}

.chart-section-1-1 {
    width: 70%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.chart-section-1-1-1 {
    height: 70%;
}

.chart-section-1-1-2 {
    height: 30%;
}

.chart-section-1-2 {
    width: 30%;
    height: 98%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.chart-section-2 {
    width: 100%;
    height: fit-content;
    gap: 15px;
    display: flex;
}

.color-bar {
    width: 33%;
}

.chart-section-1-1-2 {
    gap: 15px;
    display: flex;
}

.count-box {
    width: 33%;
    height: 100%;
    border-radius: 10px;
    /* background: white; */
}

.chart-section-3 {
    width: 100%;
    height: 20%;
    display: flex;
    gap: 15px;
}

.black-bar {
    width: 50%;
    display: flex;
    justify-content: center;
}

.Doughnut {
    height: 50% !important;
}

.chart4-6 {
    width: 100% !important;
    height: 30rem !important;
}

/* Wave */
.wave-container {
    height: 65%;
    font-size: 30px;
    font-weight: 500;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave {
    width: 100%;
    height: 35%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave-container::before {
    content: "";
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 32vw bottom;
}

.wave-container1 {
    background: rgba(154, 180, 245, 0.15);
    backdrop-filter: blur(7.4px);
}

.wave-container1::before {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 5 51.5 9C104.5 19 200 43 300 65C400 88 500 111 600 102C700 93 800 53 900 30C987.526 5 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V1.98128Z' fill='%237A9DF5'/></svg>");
}

.wave1 {
    background-color: #7A9DF5;
}

.wave-container2 {
    background: rgba(111, 245, 73, 0.13);
    backdrop-filter: blur(7.4px);
}

.wave-container2::before {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 5 51.5 9C104.5 19 200 43 300 65C400 88 500 111 600 102C700 93 800 53 900 30C987.526 5 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V1.98128Z' fill='%236ff549'/></svg>");
}

.wave2 {
    background-color: #6ff549;
}

.wave-container3 {
    background: rgba(235, 121, 42, 0.13);
    backdrop-filter: blur(7.4px);
}

.wave-container3::before {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 5 51.5 9C104.5 19 200 43 300 65C400 88 500 111 600 102C700 93 800 53 900 30C987.526 5 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V1.98128Z' fill='%23EB792A'/></svg>");
}

.wave3 {
    background-color: #EB792A;
}

@media(max-width:850px) {
    .wave-container::before {
        height: 65px
    }
}

/* Wave */

/* Graph New Design */


/* Footer */

.footer {
    height: 50px;
    width: 100%;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    display: flex;
}

.contact-icons {
    width: 50%;
    gap: 15px;
    font-size: 25px;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-icon {
    width: 40px;
    height: 40px;
    border-radius: 49px;
    background-image: linear-gradient(144deg, #AF40FF, #42a5f3 50%, #00DDEB);
    color: white;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.copyright {
    width: 50%;
    padding-left: 5%;
    font-size: 15px;
    margin: auto 0px;
}

/* Footer */

/* Button 63 */
/* CSS */
.button-63 {
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #AF40FF, #42a5f3 50%, #00DDEB);
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    cursor: pointer;
}

.button-63:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 35px 30px -5px;
}

.button-63:active {
    transform: translateY(4px);
    box-shadow: rgba(0, 0, 0, 0.2) 0 25px 30px -5px;
}

.tip-open-button {
    width: 12%;
    height: 30%;
    font-weight: bold;
}

.tip-popup {
    width: 100%;
    height: fit-content;
    z-index: 1;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.tip-box {
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 1);
    text-align: justify;
}

.list {
    font-weight: bold;
    font-style: italic;
}

.popupclose-div {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupclose-button {
    width: 50px;
    height: 30px;
}

.tip-header {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 640px) {

    a.slide-up {
        margin-top: 10%;
    }

    @keyframes slide-up {
        from {
            margin-top: 30%;
        }

        to {
            margin-top: 10%;
        }
    }

    .body_section {
        overflow-x: scroll;
    }

    /* header  */

    .companylogo {
        height: 20%;
        font-size: 22px;
    }

    .descrip {
        font-size: 12px;
    }

    .details {
        gap: 15px;
    }

    /* header  */

    /* Footer */
    .copyright {
        font-size: 12px;
    }

    .contact-icons {
        gap: 5px;
        font-size: 20px;
    }

    .contact-icon {
        width: 35px;
        height: 35px;
    }

    /* Footer */

    /* Tip popup */
    .tip-box {
        width: 80%;
        height: 570px;
        overflow-y: scroll;
    }

    .tip-popup {
        height: fit-content;
    }

    .tip-open-button {
        width: 30%;
        height: 35%;
        padding: 5px;
    }

    .chart-section-1 {
        height: 60%;
        flex-direction: column;
    }

    .chart-section-2 {
        height: 20%;
        flex-direction: column;
    }

    .chart-section-3 {
        height: 20%;
        gap: 0px;
        flex-direction: column;
    }

    .chart-section-1-1-1 {
        height: fit-content;
    }

    .chart-section-1-1 {
        width: 100%;
        height: 100%;
    }

    .chart-section-1-2 {
        width: 100%;
        height: 100%;
    }

    .chart-section-1-1-2 {
        height: fit-content;
        flex-direction: column;
    }

    .count-box {
        width: 100%;
        height: 330px
    }

    .color-bar {
        height: 100%;
        width: 100%;
    }

    .black-bar {
        width: 100%;
    }

    .chart4-6 {
        height: 24rem !important;
    }

    .black-bar {
        padding-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {

    .tip-open-button {
        width: 20%;
    }

    .chart-section-1-1-1 {
        height: fit-content;
    }

    .Doughnut {
        height: fit-content !important;
    }

    .chart-section-1 {
        height: fit-content;
    }

    .chart-section-2 {
        width: 98%;
    }

    .chart-section-1-1-2 {
        height: 50%;
    }

    .wave {
        font-size: 16px;
    }

    .chart4-6 {
        height: 23rem !important;
    }
}

@media screen and (min-width: 1024px) {
    .tip-open-button {
        width: 12%;
    }
}