html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
    color: black;
}

.login-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: none;
}

.g-icon {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

main {
    width: 100%;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    overflow-x: hidden;
}

.contact-icons {
    width: 50%;
    gap: 15px;
    font-size: 25px;
    padding-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-icon {
    width: 40px;
    height: 40px;
    border-radius: 49px;
    background-image: linear-gradient(144deg, #AF40FF, #42a5f3 50%, #00DDEB);
    color: white;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

body {
    line-height: 1 !important;
}

/* glass */
.glass {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.circle1,
.circle2 {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0.7));
    position: absolute;
}

.circle1 {
    top: 12%;
    right: 18%;
}

.circle2 {
    bottom: 8%;
    left: 18%;
}

/* glass */
/* header */
.header {
    height: 12%;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
}

.details {
    width: 40%;
    gap: 25px;
    padding-right: 6%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 60%;
    height: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.companylogo {
    height: 25%;
}


.navbartransition::after {
    content: '';
    width: 0px;
    height: 3px;
    transition: 300ms;
    border-radius: 5px;
    display: block;
    background: #106eea;
}

.navbartransition:hover::after {
    width: 100%;
}

.navbartransition:hover {
    color: #106eea;
}

/* header  */

/* Button 63 */
/* CSS */
.button-63 {
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg, #AF40FF, #42a5f3 50%, #00DDEB);
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    cursor: pointer;
}

.button-63:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 35px 30px -5px;
}

.button-63:active {
    transform: translateY(4px);
    box-shadow: rgba(0, 0, 0, 0.2) 0 25px 30px -5px;
}

.box {
    border-radius: 16px;
    gap: 10px;
    line-height: 40px;
    background: rgba(255, 255, 255, 0.19);
    backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: inset 0 -3px 0 -1px #106eea;
    transition: box-shadow 0.5s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box:hover {
    box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.box-icon {
    color: #106eea;
}

.button-title {
    font-size: 35px;
}

.buttons {
    height: 81.4%;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer  */
.footer {
    height: 6.6%;
    width: 100%;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    display: flex;
}

.copyright {
    width: 50%;
    padding-left: 5%;
    font-size: 15px;
    margin: auto 0px;
}

/* Footer  */

/* Spinner */

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

/* Spinner */

@media screen and (max-width: 640px) {

    /* Glass Effect */
    .circle1,
    .circle2 {
        height: 10rem;
        width: 10rem;
    }

    /* Glass Effect */

    .companylogo {
        height: 20%;
        font-size: 22px;
    }

    .descrip {
        font-size: 12px;
    }

    .details {
        gap: 15px;
    }

    /* buttons */
    .buttons {
        flex-direction: column;
    }

    a.slide-left {
        animation: 1.5s slide-left;
    }

    @keyframes slide-left {
        from {
            margin-left: 30%;
            opacity: 0;
        }

        to {
            margin-top: 0%;
            opacity: 1;
        }
    }

    a.slide-right {
        animation: 1.5s slide-right;
    }

    @keyframes slide-right {
        from {
            margin-right: 30%;
            opacity: 0;
        }

        to {
            margin-right: 0%;
            opacity: 1;
        }
    }

    .box {
        width: 60%;
        height: 35%;
    }

    /* buttons */

    /* Footer  */
    .copyright {
        font-size: 12px;
    }

    .contact-icons {
        gap: 5px;
        font-size: 20px;
    }

    .contact-icon {
        width: 35px;
        height: 35px;
    }

    /* Footer  */
}

@media screen and (min-width: 768px) {

    /* buttons */

    a.slide-up {
        margin-top: 0%;
        animation: 1.5s slide-up;
    }

    @keyframes slide-up {
        from {
            margin-top: 20%;
            height: 40%;
            opacity: 0;
        }

        to {
            margin-top: 0%;
            height: 40%;
            opacity: 1;
        }
    }

    .box {
        width: 40%;
        height: 40%;
    }

    /* buttons */
}

@media screen and (min-width: 1024px) {

    /* buttons */

    a.slide-up {
        margin-top: 0%;
        animation: 1.5s slide-up;
    }

    @keyframes slide-up {
        from {
            margin-top: 20%;
            height: 40%;
            opacity: 0;
        }

        to {
            margin-top: 0%;
            height: 40%;
            opacity: 1;
        }
    }

    .box {
        width: 30%;
        height: 40%;
    }

    /* buttons */

}

@media screen and (min-width: 1280px) {

    /* buttons */

    a.slide-up {
        margin-top: 0%;
        animation: 1.5s slide-up;
    }

    @keyframes slide-up {
        from {
            margin-top: 20%;
            height: 40%;
            opacity: 0;
        }

        to {
            margin-top: 0%;
            height: 40%;
            opacity: 1;
        }
    }

    .box {
        width: 18%;
        height: 40%;
    }

    /* buttons */
}